body {
  background-color: #dddddd;
}

#homepage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 460px;
}

#homepage p {
  text-align: center;
}
