body {
  background-color: #dddddd;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 320px;
}

.login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  min-width: 340px;
}

#homepage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 460px;
}

#homepage p {
  text-align: center;
}

.error-text {
  color: red;
}
