body {
  background-color: #dddddd;
}

#new_being_form {
  min-width: 240px;
  float: left;
}

#edit_preview {
  position: relative;
  width: 112px;
  height: 164px;
  background-color: #efefef;
  border-style: solid;
  float: left;
}

#prev_eyes {
  position: absolute;
  top: 16px;
  left: 38px;
  z-index: 3;
}

#prev_head {
  position: absolute;
  top: 10px;
  left: 22px;
  z-index: 2;
}

#prev_body {
  position: absolute;
  top: 52px;
  left: 6px;
  z-index: 1;
}

.being_display {
  display: flex;
  flex-flow: row wrap;
}

.being_container {
  flex-basis: auto;
  width: 112px;
  height: 164px;
}

.display_eyes {
  position: absolute;
  z-index: 3;
}

.display_head {
  position: absolute;
  z-index: 2;
}

.display_body {
  position: absolute;
  z-index: 1;
}

