<div class="main-content">

  <div class="login-signup-container">
    <p class="error-text"><%= flash[:login_error] %></p>

    <form action="/users/login" method="post" accept-charset="utf-8">

      <label>Username: </label>
      <input type="text" value="" name="username" id="username"/>

      <br><br>

      <label>Password: </label>
      <input type="password" value="" name="password" id="password"/>

      <br><br>

      <input type="submit" value="Log In" name="login" id="login"/>
    </form>
  </div>

</div>
