<h1>VeoGenesis</h1>

<img src="img/head1.svg" alt="" height="64px" width="64px"/>
<img src="img/head2.svg" alt="" height="64px" width="64px"/>
<img src="img/head3.svg" alt="" height="64px" width="64px"/>

<br>

<img src="img/body1.svg" alt="" height="128px" width="128px"/>
<img src="img/body2.svg" alt="" height="128px" width="128px"/>
<img src="img/body3.svg" alt="" height="128px" width="128px"/>

<br>

<img src="img/eye1.svg" alt="" height="32px" width="32px"/>
<img src="img/eye2.svg" alt="" height="32px" width="32px"/>
<img src="img/eye3.svg" alt="" height="32px" width="32px"/>
