<div id="homepage">
  <h1>VeoGenesis</h1>

  <p>This is a web application that demonstrates the routing features of Sinatra by allowing the user to build a collection of lifeforms.</p>

  <p>Visit the <a href="/beings">Beings</a> page in order to see the existing collection, or register an account to get started creating your own lifeforms.</p>

  <h2><a href="/users/login">Login</a></h2>
  <h2><a href="/users/signup">Sign Up</a></h2>
</div>
