<h1>VeoGenesis</h1>

<h2><a href="/users/login">Sign In</a></h2>
<h2><a href="/users/signup">Sign Up</a></h2>

<img src="img/head1.svg" height="84px" width="84px"/>
<img src="img/head2.svg" height="84px" width="84px"/>
<img src="img/head3.svg" height="84px" width="84px"/>

<br>

<img src="img/body1.svg" height="128px" width="128px"/>
<img src="img/body2.svg" height="128px" width="128px"/>
<img src="img/body3.svg" height="128px" width="128px"/>

<br>

<img src="img/eyes1.svg" height="48px" width="48px"/>
<img src="img/eyes2.svg" height="48px" width="48px"/>
<img src="img/eyes3.svg" height="48px" width="48px"/>
