<div id="homepage">
  <h1>VeoGenesis</h1>

  <p>This is a Sinatra web application that allows the user to create a collection of lifeforms.</p>

  <h2><a href="/users/login">Login</a></h2>
  <h2><a href="/users/signup">Sign Up</a></h2>
</div>
