<!DOCTYPE html>
<html>
  <head>
    <title>VeoGenesis</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/beings_display.css" type="text/css">
    <link rel="stylesheet" href="/css/topnav.css" type="text/css">
  </head>

  <body>
    <header>
      <div class="topnav" id="veotopnav">

        <% if logged_in? %>
          <a href="/users/index"><%= current_user.username %></a>
        <% else %>
          <a href="/">Home</a>
        <% end %>

        <a href="/beings">Beings</a>  

        <% if logged_in? %>
          <a href="/users/logout">Logout</a>
        <% end %>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
